body{
    background-image: url("https://www.99images.com/download-image/772583/1920x1080");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 50%
}